<div id="productLeftCol">
	<div class="productGallery">
		<%= image_tag @post.img_path %>
	</div>

	<div id="productDetials">
		<h1><%= @post.title %></h1>

		<div class="productStats">
			<div class="fieldRow">
					<p class="key">Manufacturer</p>
					<p class="value">Breville</p>
			</div>
			<div class="fieldRow">
				<p class="key">Dimensions</p>
				<p class="value">3ft x 1ft x 1ft</p>
			</div>
			<div class="fieldRow">
				<p class="key">Condtion</p>
				<p class="value">Like new</p>
			</div>
		</div>

		<p class="productParagraph"><%= @post.description %></p>

	</div>

</div>

<div id="productRightCol">
	<div class="widget bidWidget">
		<div class="row">
			<!-- MAKE A HELPER FOR THIS -->
			<p>Enter <span>$<%= @post.current_price + 1 %></span> or more:</p>
		</div>
		<div class="row amountRow">
			<input type="text" placeholder="$">
			<p>Current Bid: <span><%= @post.current_price %></span></p>
		</div>
		<a id="placeBidBtn" href="#">
			<div>Place bid</div>
		</a>

	</div>
	<div class="widget userWidget">
      <img src="<%= @profile['thumbnail_url'] %>">
      <h4>Jacob Mulligan</h4>
      <p>Front end developer, designer, professional notetaker, NASA fan.</p>

      <div style="clear: both;"></div>
	</div>

	<div class="widget statsWidget">
		<h1><span>2</span>d <span>52</span>min left</h1>
		<h2><span>32</span> page views</h2>
		<h2><span>7</span> bids</h2>
		<h6>Boston, MA</h6>
	</div>

</div>


	<% if @profile %>
	<div class="popup">
		<div class="modalTopLoggedIn">
			<h2>Please confirm your bid:</h2>
			<h3>$180</h3>
		</div>
		<div class="confirmBid">
			<a href="#">Confirm</a>
		</div>
		<% else %>
		<div class="modalTop">
			<div class="aBlock">
				<%= image_tag "/images/questionMark.png" %>

			</div>
			<div class="aBlock">
				<%= image_tag "/images/arrows.png", style: "margin-top:30px;" %>
			</div>
			<div class="aBlock">
				<img src="<%= @profile['thumbnail_url'] %>">

			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="modalCopy">
			<h5>You need to login first!</h5>
			<p>Start bidding by connecting an accont with Bidsy.</p>
		</div>
		<div id="logins">
			<a class="facebookLogin" href="/auth/singly?service=facebook">Sign in with Facebook</a> <span>or</span> <a class="linkedinLogin" href="/auth/singly?service=linkedin">Sign in with LinkedIn</a>
		</div>
		<% end %>
	</div>
	<div class="modalBlackout"></div>

<script type="text/javascript">


//JS for the modal:

// prompts modal when user clicks on "place bid button":
$('#placeBidBtn').click(function(){
	//Remove any modals, if there are any:

	$('.modalBlackout, .popup').fadeIn();
});

// If user clicks on blackdrop or 'x' button the modal closes. 
$('.modalBlackout, #editModal').click(function(){
	$(this).fadeOut();
	$('.popup').fadeOut();
});





</script>


