<div id="productLeftCol">
	<div class="productGallery">
		<%= image_tag @post.img_path %>
	</div>

	<div id="productDetials">
		<h1><%= @post.title %></h1>

		<div class="productStats">
			<div class="fieldRow">
					<p class="key">Manufacturer</p>
					<p class="value">Breville</p>
			</div>
			<div class="fieldRow">
				<p class="key">Dimensions</p>
				<p class="value">3ft x 1ft x 1ft</p>
			</div>
			<div class="fieldRow">
				<p class="key">Condtion</p>
				<p class="value">Like new</p>
			</div>
		</div>

		<p class="productParagraph"><%= @post.description %></p>

	</div>

</div>

<div id="productRightCol">
	<div class="widget bidWidget">
		<div class="row">
			<!-- MAKE A HELPER FOR THIS -->
			<p>Enter <span>$<%= @post.current_price + 1 %></span> or more:</p>
		</div>
		<div class="row amountRow">
			<input type="text" placeholder="$">
			<p>Current Bid: <span><%= @post.current_price %></span></p>
		</div>
		<a id="placeBidBtn" href="#">
			<div>Place bid</div>
		</a>

	</div>
	<div class="widget userWidget">
      <img src="<%= @profile['thumbnail_url'] %>">
      <h4>Jacob Mulligan</h4>
      <p>Front end developer, designer, professional notetaker, NASA fan.</p>

      <div style="clear: both;"></div>
	</div>

	<div class="widget statsWidget">
		<h1><span>4</span>d <span>52</span>min left</h1>
		<h2><span>32</span> page views</h2>
		<h2><span>7</span> bids</h2>
		<h6>Boston, MA</h6>
	</div>

</div>


<div class="modal">
	<div class="popup"></div>
	<div class="modalBlackout"></div>
</div>

<script type="text/javascript">

$('#placeBidBtn').click(function(){
	alert("HELP!");
})

</script>


