<%= form_for @post do |f| %>

  <h2>Info</h2>

  <%= f.label :starting_bid %><br>
  <%= f.text_field :starting_bid %><br>

  <%= f.label :buyout_price %><br>
  <%= f.text_field :buyout_price %><br>

  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description %><br>

  <h2>Details</h2>
  <%= f.fields_for :details, @post.details do |d| %>
    <%= d.label :manufacturer %>
    <%= d.text_field :manufacturer %>
    <%= d.label :condition %>
    <%= d.text_field :condition %>
  <% end %>

  <br><br>

  <%= f.submit %>

<% end %>