<div id="productLeftCol">

  <div class="productGallery">
    <img id="productImage" class="noImage" src="/images/clickToUpload.png">
  </div>

  <div id="productDetials">

    <section class="productEdits" id="titleEdits" contenteditable="true">  
      <h1>Enter title here</h1>
    </section>

    <div class="productStats editMode">
      <div class="fieldRow">
          <p class="key">Manufacturer</p>
          <p class="value" contenteditable="true">Edit this</p>
      </div>
      <div class="fieldRow">
        <p class="key">Condtion</p>
        <p class="value" contenteditable="true">Edit this</p>
      </div>
      <div class="fieldRow">
        <p class="key">Year</p>
        <p class="value" contenteditable="true">Edit this</p>
      </div>

      <div class="breakLine">
        <p>All inputs above this line are required</p>
        <div class="horizontalLine"></div>
        <p>The more fields you select and fill out the most attractive it will be to a buyer.</p>
      </div>

      <div id="rowCreator">
        <select>
          <option>Select one</option>
          <option value="Material">Material</option>
          <option value="Dimensions">Dimensions</option>
        </select>
        <p>< Select an attribute</p>
      </div>
    </div>

    <section class="productEdits" id="descriptionEdits" contenteditable="true"> 
      <p>Enter product description here. Up to 450 characters. The best descriptions are to the point, clearly describe the condtion of what you're selling, say a little bit about your and why you're selling it, and a little humor.</p>
    </section>

  </div>

</div>

<div id="productRightCol">

  <div id="publishBtn">Post</div>

  <div class="widget bidWidget">
    <p>Enter starting amount:</p>
    <input id="startAmount" type="text" placeholder="Starting Amount">
  </div>

  <div class="widget userWidget editMode">
      <img src="<%#= current_user.thumbnail_url %>">
      <h4><%= current_user.name %></h4>
      <p><%#= current_user.description %></p>
      <div style="clear: both;"></div>
  </div>

</div>

<%= form_for @post, url: create_post_path, html: { enctype: "multipart/form-data", id: "HIDDENForm" } do |f| %>
  <%= f.text_field(:photo_file_name, id: "HIDDENImageName") %>
  <%= f.text_area(:title, id: "HIDDENTitle") %>
  <%= f.text_area(:description, id: "HIDDENDescription") %>
  <%= f.text_area(:'starting_bid', id: "HIDDENStartingPrice") %>
  <%#= f.text_area(:'fields[manufacturer]') %>
  <%#= f.text_area(:'fields[condtion]') %>
  <%#= f.text_area(:'fields[year]') %>
<% end %>

<!--
<form id='HIDDENForm' action="<%= create_post_path %>" method="post" enctype="multipart/form-data">
  <input id="HIDDENImageName" type="file" name="image"/>
  <textarea id="HIDDENTitle" name="title"></textarea>
  <textarea id="HIDDENDescription" name="description"></textarea>
  <textarea id="HIDDENStartingPrice" name="starting-price"></textarea>
  <textarea name="fields[manufacturer]">Edit me</textarea>
  <textarea name="fields[condtion]">Edit me</textarea>
  <textarea name="fields[year]">Edit me</textarea>
</form>
-->

<script type="text/javascript">

// assigning Title
$('#titleEdits').focusout(function (e) {
  $('#HIDDENTitle').html($(this).text());
});

// assigning Description
$('#descriptionEdits').focusout(function (e) {
  $('#HIDDENDescription').html($(this).text());
});

// assigning Description
$('#startAmount').focusout(function (e) {
  $('#HIDDENStartingPrice').html($(this).val());
});

// assigning HIDDENImageName
$('#productImage').on('click', function (e) {
  $('#HIDDENImageName').click();
  setInterval(function () {
    $('#HIDDENImageName').html($('#HIDDENImageName').val());
  }, 1);
  return false;
});

// tell users they chose an image.
$('#HIDDENImageName').on('change', function (e) {
  $('#productImage').attr("src", '/images/Uploaded.png');
});

// submission of hidden form
$("#publishBtn").on('click', function (e) {
  $("#HIDDENForm").submit();
});

// append to fields.
$('#rowCreator select').on('change', function(){
  var keyName = $(this).val();
  $('#rowCreator').before('<div class="fieldRow"><p class="key">'+ keyName.toLowerCase() +' <span>- Delete</span></p><p class="value" contenteditable="true">Edit me</p></div>');
  var added = $('.fieldRow').last();

  // add to hidden form
  $('#HIDDENForm').append("<textarea name='fields["+ keyName.toLowerCase() +"]'>Edit me</textarea>");

  added.find('.value').focusout(function (e) {
    var val = $(this).html();
    $('#HIDDENForm textarea[name="fields['+ keyName.toLowerCase() +']"]').html(val);
  });

  $('#productDetials .productStats .fieldRow .key span').click(function(){
    $(this).parent().parent().remove();
    $('#HIDDENForm textarea[name="fields['+ keyName.toLowerCase() +']"]').remove();
  });
});

// assigning HIDDEN from fields
$('.fieldRow .value').focusout(function (e) {
  var input = $(e.target);
  var keyName = input.parent().find('.key').html();
  var val = input.html();
  $('#HIDDENForm textarea[name="fields['+ keyName.toLowerCase() +']"]').html(val);
});

</script>