<div class="column column-left">

  <%= image_tag "click_to_upload.png", class: "post-field" %>

  <%= post_field @post, :title, :h1 do %>
    Enter title here
  <% end %>

  <div class="post-description">
    <%= post_field @post, :description, :p do %>
      Enter product description here. Up to 450 characters. The best descriptions are to the point, clearly describe the condtion of what you're selling, say a little bit about your and why you're selling it, and a little humor.
    <% end %>
  </div>

  <div class="post-details widget">
    <%= post_detail @post, :manufacturer %>
    <%= post_detail @post, :condition %>
    <%= post_detail @post, :year %>
  </div>

</div>

<!-- BELOW HERE TODO -->

<div class="column column-right">

  <div id="bid" class="widget">
    <h4>Starting Bid</h4>
    <%= post_field @post, :starting_bid, :h1 do %>
      $1337
    <% end %>

    <div id="bid-btn" class="btn btn-large disabled">Bid</div>
  </div>

  <div id="user" class="widget">
    <%= image_tag current_user.thumbnail_url, class: "user-icon medium" %>
    <h4><%= current_user.name %></h4>
    <p><%= current_user.description %></p>
  </div>

  <div id="publish" class="btn btn-large btn-green">Post</div>

  <!-- For Testing -->
  <div id="toggle-editable" class="btn btn-large">Toggle Editable</div>

</div>