<div class="column column-left">

  <%= image_tag "click_to_upload.png", class: "post-field" %>

  <%= post_field @post, :title, :h1 do %>
    Enter title here
  <% end %>

  <div class="post-description">
    <%= post_field @post, :description, :p do %>
      Enter product description here. Up to 450 characters. The best descriptions are to the point, clearly describe the condtion of what you're selling, say a little bit about your and why you're selling it, and a little humor.
    <% end %>
  </div>

  <div class="post-details widget">
    <%= post_detail @post, :manufacturer %>
    <%= post_detail @post, :condition %>
    <%= post_detail @post, :year %>
  </div>

</div>

<!-- BELOW HERE TODO -->

<div class="column column-right">

  <div id="publish" class="btn btn-large btn-green">Post</div>

  <!-- COST WIDGET -->
  <div id="cost" class="widget">

    <!-- Post type selection -->
    <div class="type-selector clearfix">
      <h4>How do you want to sell your item?</h4>
      <p class="fixed">Fixed Price</p>
      <p class="auction">Online Auction</p>
    </div>

    <div class="type-placehoder"></div>

    <div class="types">

      <!-- Auction info entry -->
      <div class="auction">
        <h4>Enter starting price:</h4>
        <%= post_field @post, :starting_bid, :p do %>
          $1337
        <% end %>
        <p class="fee">There is no fee to post!</p>
      </div>

      <!-- Fixed info entry -->
      <div class="fixed">
        <h4>Enter a buyout price:</h4>
        <%= post_field @post, :buyout_price, :p do %>
          $1337
        <% end %>
        <p class="fee">There is no fee to post!</p>
      </div>
    </div>
  </div>

  <!-- USER WIDGET -->
  <div id="user" class="widget">
    <div style="background-image: url(<%= current_user.thumbnail_url %>);", class="user-icon"></div>
    <h4><%= current_user.name %></h4>
    <p><%= current_user.description %></p>
  </div>

  <!-- SHIPPING WIDGET -->
  <div id="delivery" class="widget clearfix">
    <h4>Shipping Information</h4>
    <ul class="checkboxes">
      <li class="local-pickup">Local Pickup Only</li>
      <li class="mail-delivery">Shipping Only</li>
      <li class="both-options clicked">Local Pickup or Shipping</li>
    </ul>
  </div>
</div>
