<div class="flash error">
  <div>
    <p>Required: Enter a starting amount for your bid</p>
    <p>Required: Enter the name of what you're selling</p>
    <div style="clear:both;"></div>
  </div>
  <div style="clear:both;"></div>
</div>



<script type="text/javascript">



// js so that when someone clicks on a contenteditable field it automatically selects all text.
jQuery.fn.selectText = function(){ // this whole function makes it so when someone clicks on an editable field they select everything.
    var doc = document
        , element = this[0]
        , range, selection
    ;
    if (doc.body.createTextRange) {
        range = document.body.createTextRange();
        range.moveToElementText(element);
        range.select();
    } else if (window.getSelection) {
        selection = window.getSelection();
        range = document.createRange();
        range.selectNodeContents(element);
        selection.removeAllRanges();
        selection.addRange(range);
    }
};

$(function(){
  if ( $('body').data('action') === 'new' ) {  // All this js is to be executed if on edit page
    $('.editable, .value').click(function() {
      $(this).selectText(); // Click on editable field innitiates selection.
    });

    $('.widget, .productStats').addClass('editMode'); // I use this class in the css


    // js to make sure the flash height is correct
    var numChildren = $('div.flash div p').length,
        newHeight = ((numChildren * 32) + 5) + 'px';
    $('div.flash').css('height', newHeight);

  }

  $('.editable, .value').attr('contenteditable','true'); // making editable fields editable..

  if ( $('body').data('action') === 'show' ) {  // All this js is to be executed if on view/show page
    $('.editable').attr('contenteditable','false').removeClass('editable');
  };

})();

</script>
<!--  -->


<div id="productLeftCol">

  <div class="productGallery">
    <%= image_tag "click_to_upload.png", id: "productImage" %>
  </div>

  <div id="productDetials">

    <h1 class="editable" id="titleEdits">Enter title here</h1>

    <div class="productStats">
      <div class="fieldRow">
          <p class="key">Manufacturer</p>
          <p class="value">Edit this</p>
      </div>
      <div class="fieldRow">
        <p class="key">Condtion</p>
        <p class="value">Edit this</p>
      </div>
      <div class="fieldRow">
        <p class="key">Year</p>
        <p class="value">Edit this</p>
      </div>

      <div class="breakLine">
        <p>All inputs above this line are required</p>
        <div class="horizontalLine"></div>
        <p>The more fields you select and fill out the most attractive it will be to a buyer.</p>
      </div>

      <div id="rowCreator">
        <select>
          <option>Select one</option>
          <option value="Material">Material</option>
          <option value="Dimensions">Dimensions</option>
        </select>
        <p>< Select an attribute</p>
      </div>
    </div>
      <p class="editable" id="descriptionEdits">Enter product description here. Up to 450 characters. The best descriptions are to the point, clearly describe the condtion of what you're selling, say a little bit about your and why you're selling it, and a little humor.</p>

  </div>

</div>

<div id="productRightCol">

  <div id="saveButton">Save</div>

  <div id="publishBtn">Post</div>

  <div class="widget bidWidget">
    <p>Enter starting amount:</p>
    <input id="startAmount" type="text" placeholder="Starting Amount">
  </div>

  <div class="widget userWidget">
      <img src="<%= current_user.thumbnail_url %>">
      <h4><%= current_user.name %></h4>
      <p><%= current_user.description %></p>
      <div style="clear: both;"></div>
  </div>
  <div class="widget shipping-info">
    <h4>Shipping Information</h4>
    <ul class="checkboxes">
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <ul class="options">
      <li>Local pickup only</li>
      <li>Delivery by mail only</li>
      <li>Local pickup or mail delivery, buyer chooses</li>
      <li>If you're allowing local pickup, enter your zip code:</li>
      <li><p class="editable">Zip code</p></li>
      <li></li>
    </ul>
    <div class="clear"></div>

    <div class="shipping-tooltip">
      <h3>How local pickup works:</h3>
      <p>When bidding ends, the winning bidder will be put in contact with the seller to arrange a mutually agreed upon location to pick up the item.</p>
      <h3>How "delivery by mail only" works:</h3>
      <p>The seller sets a shipping price (based on size and weight of item), this amount will be added onto the final price.</p>
      <h3>If seller allows for pickup or delivery, then the buyer gets to choose which methond she prefers.</h3>
      <p>Filler text</p>
      <p></p>
    </div>

  </div>

</div>

<%= form_for @post, url: create_post_path, html: { enctype: "multipart/form-data", id: "HIDDENForm" } do |f| %>
  <%= f.fields_for :images do |b| %>
    <%= b.file_field :data, id: "HIDDENImageName" %><br>
  <% end %>
  <%= f.text_area(:title, id: "HIDDENTitle") %>
  <%= f.text_area(:description, id: "HIDDENDescription") %>
  <%= f.text_area(:'starting_bid', id: "HIDDENStartingPrice") %>
  <%#= f.text_area(:'fields[manufacturer]') %>
  <%#= f.text_area(:'fields[condtion]') %>
  <%#= f.text_area(:'fields[year]') %>
<% end %>
