<h4>title</h4> <%= @post.title %><br>
<h4>description</h4> <%= @post.description %><br>
<h4>starting_bid</h4> <%= @post.starting_bid %><br>
<h4>current_bid</h4> <%= @post.current_bid %><br>
<h4>buyout_price</h4> <%= @post.buyout_price %><br>
<h4>details</h4> <%= @post.details %><br>